::placeholder{

    color:black;
    font-family: copperspace,fantasy;
    text-align: center;
    text-decoration-style: wavy;
    letter-spacing: 2px;
}
h6{
    text-align: center;

}
h2{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}